<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Main down's</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Ну</a>
            <a class="nav-link" href="#">Это вообще</a>
            <a class="nav-link" href="#">Секс</a>
        </nav>
    </div>
</header>
<p th:text="'Hello, ' + ${title} + '!'" />
</body>
</html>